<html>
  <head>
    <title>Catalogs | <%= data.product_name %></title>
  </head>
  <body>
    <div>
      <h1><%= data.product_name %></h1>
      <p><%= data.product_color %></p>
      <p><%= data.product_size %></p>
      <p><%= data.product_description %></p>
    </div>
  </body>
</html>
